body{
    margin: 0;
}
.footerLists li{
    padding-bottom: 10px;
}

/* col-lg - Large Desktop screens */
@media (max-width: 1824px) {
    img{
        margin-top: -360px;
    }
    .mainCard{
        margin-top: 50px;
    }
    .container .information{
        margin-top: -450px;
        margin-bottom: 80px;
        padding-right: 500px; 
        padding-left: 100px;
    }
    .hrPadding{
        padding-left: 450px; 
        padding-right: 450px;
    }
    .footerLinksLeft{
        width: 25%;  
    }
    .footerLinksRight{
        width: 75%;
    }
    .footer{
        height: 300px;
    }
    .footerLeftText{
        padding-left: 50px;
    }
}

/* col-md - Medium screens */
@media (max-width: 1280px) {
    img{
        margin-top: -300px;
    }
    .mainCard{
        margin-top: 45px;
    }
    .container .information{
        margin-top: -430px;
        margin-bottom: 60px;
        padding-right: 450px; 
        padding-left: 100px;
    }
    .hrPadding{
        padding-left: 350px; 
        padding-right: 350px;
    }
    .footerLinksLeft{
        width: 25%;  
    }
    .footerLinksRight{
        width: 75%;
    }
    .footer{
        height: 300px;
    }
    .footerLeftText{
        padding-left: 50px;
    }
}

/* col-md - Medium screens */
@media (max-width: 1180px) {
    img{
        margin-top: -250px;
    }
    .mainCard{
        margin-top: 35px;
    }
    .container .information{
        margin-top: -410px;
        margin-bottom: 40px;
        padding-right: 400px; 
        padding-left: 100px;
    }
    .hrPadding{
        padding-left: 250px; 
        padding-right: 250px;
    }
    .footerLinksLeft{
        width: 25%;  
    }
    .footerLinksRight{
        width: 75%;
    }
    .footer{
        height: 300px;
    }
    .footerLeftText{
        padding-left: 50px;
    }
}
/* col-sm - Small tablets */
@media (max-width: 1080px) {
    img{
        margin-top: -200px;
    }
    .mainCard{
        margin-top: 25px;
    }
    .container .information{
        margin-top: -330px;
        margin-bottom: 40px;
        padding-right: 300px; 
        padding-left: 100px;
    }
    .footerLinksLeft{
        width: 25%;  
    }
    .footerLinksRight{
        width: 75%;
    }
    .hrPadding{
        padding-left: 150px; 
        padding-right: 150px;
    }
    .footer{
        height: 300px;
    }
    .footerLeftText{
        padding-left: 50px;
    }
}

/* col-xs - mobile screens */
@media only screen and (max-width: 850px) {
    img{
        margin-top: -100px;
    }
    .container .information{
        margin-bottom: -120px;

    }
    .info{
        visibility: hidden;
    }
    .hrPadding{
        padding-left: 100px; 
        padding-right: 100px;
    }
    .footerLinksLeft{
        width: 25%;  
    }
    .footerLinksRight{
        width: 75%;
    }
    .footer{
        height: 300px;
    }
    .footerLeftText{
        padding-left: 50px;
    }
}
@media only screen and (max-width: 660px) {
    img{
        margin-top: -100px;
    }
    .mainCard{
        margin-top: -50px;
    }
    .container .information{
        margin-bottom: -250px;
    }
    .info{
        visibility: hidden;
    }
    .hrPadding{
        padding-left: 100px; 
        padding-right: 100px;
    }
    .footerLinksLeft{
        width: 100%;  
    }
    .footerLinksRight{
        width: 100%;
    }
    .footer{
        height: 500px;
    }
    .footerLinksLeft{
        text-align: center;
    }
    .footerLeftText{
        padding-left: 0px;
    }
}
/* col-xs - mobile screens */
@media only screen and (min-width: 220px) and (max-width: 500px) {
    img{
        margin-top: -100px;
    }
    .mainCard{
        margin-top: -100px;
    }
    .container .information{
        margin-bottom: -400px;

    }
    .info{
        visibility: hidden;
    }
    .hrPadding{
        padding-left: 50px; 
        padding-right: 50px;
    }
    .footerLinksLeft{
        width: 100%;  
    }
    .footerLinksRight{
        width: 100%;
    }
    .footer{
        height: 500px;
    }
    .footerLinksLeft{
        text-align: center;
    }
    .footerLeftText{
        padding-left: 0px;
    }
}