.headerContainer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  background-image: linear-gradient(to left, #ff0099, #ffffff);
  padding: 12px;
  justify-content: space-between;
  border-bottom: solid 0.7px rgba(0, 0, 0, 0.6);
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.title h1 {
  margin: 0px;
  padding: 8px;
  font-weight: 500;
  font-size: 2.5rem;
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}

.title:hover h1 {
  opacity: 1;
  transform: translateX(2.5px);
}

.title:hover .logo {
  opacity: 1;
  transform: translateX(-2.5px);
}

.logo {
  width: 32px;
  height: auto;

  transition: ease-in-out 0.3s;
  opacity: 0.95;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.3);
}

.drawerTitle {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  align-self: center;
  align-items: center;

  text-decoration: none;
  color: black;
}

.drawerLogo {
  width: 48px;
  height: auto;
  opacity: 0.9;
  transition: all 0.6s ease-in-out;
}

.drawerTitle:hover .drawerLogo {
  opacity: 1;
}

.drawerTitle h1 {
  margin-top: 32px;
  font-weight: 500;
  font-size: 2.5rem;
}

.headerButton {
  background: none;
  text-decoration: none;
  color: white;
  outline: none;
  cursor: pointer;

  font-size: 24px;
  border: solid 0.8px rgba(255, 255, 255, 0.4);
  border-top: 0;
  border-bottom: 0;
  width: 16rem;
  transition: ease-in-out 0.3s;
  opacity: 0.8;
  padding: 16px;
}

.headerButton:hover {
  border-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

.firstButton {
  border-left: 0;
}

.lastButton {
  border-right: 0;
}

/* Responsive Styling */
.hamburgerIcon {
  cursor: pointer;
  width: 48px;
  height: auto;
  color: white;
  transition: all 0.6s ease-in-out;
}

.hamburgerIcon:hover {
  color: black;
  transform: rotate(180deg);
}

.hamburgerContainer {
  display: none;
  padding: 0px 32px;
}

.closeIcon {
  margin: 32px 0px;
  align-self: center;

  cursor: pointer;
  width: 48px;
  height: auto;
  color: white;
  opacity: 0.8;

  transition: all 0.6s ease-in-out;
}

.closeIcon:hover {
  opacity: 1;
  color: black;
  transform: rotate(180deg);
}

.menuContainer {
  margin: 0px 32px;
}

@media only screen and (max-width: 768px) {
  .menuContainer {
    display: none;
    margin: 0px;
  }

  .drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #ff0099;
    z-index: 2;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    animation: slideIn 0.4s ease;
  }

  .hamburgerContainer {
    display: initial;
  }

  .headerButton {
    align-self: center;
    text-align: center;
    border-left: solid 0.8px rgba(255, 255, 255, 0.4);
    width: 75%;
  }
}

@keyframes slideIn {
  0% {
    left: 100vw;
  }
  100% {
    left: 0px;
  }
}
