.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  text-align: center;
}

.logo {
  width: 128px;
  height: auto;
  margin-bottom: 64px;
  margin-top: 32px;
}
