.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.cardContainer {
  display: flex;
  margin: 64px;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  width: 96px;
  height: auto;
  color: grey;

  transition: all 0.6s ease-in-out;
}
