.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
  padding: 32px;

  width: 350px;
  text-decoration: none;

  transition: all 0.6s ease-in-out;
}

.container:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.title {
  color: grey;
  font-size: 2.5rem !important;
  transition: all 0.6s ease-in-out;
}

.container:hover .title {
  color: black;
}

.container:hover svg {
  color: #ff0099;
}

.container:hover .description {
  color: black;
}

.icon {
  width: 48px;
  height: auto;
}

.descriptionContainer {
  display: flex;
  align-items: center;
  margin: 16px;
}

.description {
  text-align: center;
  font-size: 1.3rem !important;
  color: grey;
  transition: all 0.6s ease-in-out;
}

.status {
  color: green;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 200px;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    width: 100px;
  }
}
